header{
    background-image: url("../images/header.png");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /*justify-content: center;
    display: flex;
    align-items: center;*/
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.grid-container{
    display: grid;
    grid-template-areas:
        'header'
        'main1'
        'main2'
        'main3'
        'footer';
    grid-gap: 40px;
}

.grid-container > section {
    display: grid;
    box-sizing: border-box;
    background-color: #FFF9F8;
    max-width: 600px;
    padding: 20px 20px;
    margin: auto auto;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.item1{
    grid-area: header;
}
.item2{
    grid-area: main1;
}
.item3{
    grid-area: main2;
}
.item4{
    grid-area: main3;
}
.item5{
    grid-area: footer;
}

body{
    background-image: url("../images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 800px;
    margin: 0 auto;
}

.rules{
    box-sizing: border-box;
    /*margin: auto;*/
    /*margin-bottom: 10px;*/
    max-width: 600px;
    position: center;
    background-color: #FFECEB;
    padding: 20px 20px;
    color: lightcoral;
    font-weight: bold;
    border-radius: 10px;
}

h1{
    color: orange;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-shadow: -3px -3px orangered;
}

h2{
    color: lightcoral;
    margin: 10px 10px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-shadow: -2px -2px rebeccapurple;
}

h3{
    color: lightcoral;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #798fd8;
}

nav li a{
    float: left;
    display: block;
    /*width: 25%;*/
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: #f7bb81
}

nav .admin{
    float: right;
    background-color: #5c5475;
}

nav .admin:hover{
    background-color: #798fd8;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding-bottom: 10px;
    background-color: #798fd8;
    text-align: center;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #798fd8;
}

footer li a{
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}

footer li a:hover{
    background-color: #f7bb81
}

input[type=text], input[type=password], input[type=email], textarea, select{
    width: 95%;
    padding: 10px 20px;
    /*margin: 4px 0;*/
    margin-bottom: 20px;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    padding-bottom: 75px;
}

input[type=submit] {
    background-color: #b3b4f1;
    border: 0;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttons{
    text-align: center;
    justify-content: space-around;
}

.buttons a:link, .buttons a:visited{
    background-color: #b3b4f1;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.buttons a:hover, .buttons a:active{
    background-color: lightcoral;
}

/*Slideshow CSS Below*/
.slideshow-container{
    max-width: 750px;
    position: relative;
    margin: auto;
    /*display: block;*/
}

#prev, #next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    color: #ffffff;
    background-color: rgba(93, 85, 119, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

#next{
    right: 0;
}

.numberText{
    color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
}

img{
    width: 100%;
}

.none{
    display: none;
}

.block{
    display: block;
}

@media screen and (max-width: 828px) {
    nav {
        display:block;
    }
    /*.grid-container > section {*/
    /*    margin: auto;*/
    /*}*/
}
